.DS_Store
.project
.settings
.classpath
.idea
target/
*/target/
**/.swagger-codegen
*.iml
**/*.iml
**/nb-*.xml
**/nbactions.xml
env/local/env.bat
env/local/env_local_*.bat
env/local/*.json
env/local/*data
env/local/kvroot
**/nbproject
**/.factorypath
**/log4j2.xml
**/application-*-remote.properties
**/private/*
input.json
input_mod.json
**/*private*.properties
bin/